@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: rgba(114, 92, 0, 1);
  --light-on-primary: rgba(255, 255, 255, 1);
  --light-primary-container: rgba(255, 224, 126, 1);
  --light-on-primary-container: rgba(35, 27, 0, 1);
  --light-primary-fixed: rgba(255, 224, 126, 1);
  --light-on-primary-fixed: rgba(35, 27, 0, 1);
  --light-primary-fixed-dim: rgba(231, 196, 70, 1);
  --light-on-primary-fixed-variant: rgba(86, 69, 0, 1);
  --light-secondary: rgba(104, 94, 64, 1);
  --light-on-secondary: rgba(255, 255, 255, 1);
  --light-secondary-container: rgba(240, 226, 187, 1);
  --light-on-secondary-container: rgba(34, 27, 4, 1);
  --light-secondary-fixed: rgba(240, 226, 187, 1);
  --light-on-secondary-fixed: rgba(34, 27, 4, 1);
  --light-secondary-fixed-dim: rgba(211, 198, 161, 1);
  --light-on-secondary-fixed-variant: rgba(79, 70, 42, 1);
  --light-tertiary: rgba(171, 53, 17, 1);
  --light-on-tertiary: rgba(255, 255, 255, 1);
  --light-tertiary-container: rgba(255, 219, 209, 1);
  --light-on-tertiary-container: rgba(59, 9, 0, 1);
  --light-tertiary-fixed: rgba(255, 219, 209, 1);
  --light-on-tertiary-fixed: rgba(59, 9, 0, 1);
  --light-tertiary-fixed-dim: rgba(255, 181, 161, 1);
  --light-on-tertiary-fixed-variant: rgba(136, 32, 0, 1);
  --light-error: rgba(186, 26, 26, 1);
  --light-on-error: rgba(255, 255, 255, 1);
  --light-error-container: rgba(255, 218, 214, 1);
  --light-on-error-container: rgba(65, 0, 2, 1);
  --light-outline: rgba(125, 119, 103, 1);
  --light-background: rgba(255, 251, 255, 1);
  --light-on-background: rgba(29, 27, 22, 1);
  --light-surface: rgba(254, 249, 239, 1);
  --light-on-surface: rgba(29, 27, 22, 1);
  --light-surface-variant: rgba(235, 226, 207, 1);
  --light-on-surface-variant: rgba(76, 70, 57, 1);
  --light-inverse-surface: rgba(50, 48, 42, 1);
  --light-inverse-on-surface: rgba(246, 240, 231, 1);
  --light-inverse-primary: rgba(231, 196, 70, 1);
  --light-shadow: rgba(0, 0, 0, 1);
  --light-surface-tint: rgba(114, 92, 0, 1);
  --light-outline-variant: rgba(206, 198, 180, 1);
  --light-scrim: rgba(0, 0, 0, 1);
  --light-surface-container-highest: rgba(231, 226, 217, 1);
  --light-surface-container-high: rgba(237, 231, 222, 1);
  --light-surface-container: rgba(243, 237, 228, 1);
  --light-surface-container-low: rgba(249, 243, 234, 1);
  --light-surface-container-lowest: rgba(255, 255, 252, 1);
  --light-surface-bright: rgba(254, 249, 239, 1);
  --light-surface-dim: rgba(223, 217, 208, 1);
  --dark-primary: #e7c446;
  --dark-on-primary: rgba(60, 47, 0, 1);
  --dark-primary-container: rgba(86, 69, 0, 1);
  --dark-on-primary-container: rgba(255, 224, 126, 1);
  --dark-primary-fixed: rgba(255, 224, 126, 1);
  --dark-on-primary-fixed: rgba(35, 27, 0, 1);
  --dark-primary-fixed-dim: rgba(231, 196, 70, 1);
  --dark-on-primary-fixed-variant: rgba(86, 69, 0, 1);
  --dark-secondary: rgba(211, 198, 161, 1);
  --dark-on-secondary: rgba(56, 48, 22, 1);
  --dark-secondary-container: rgba(79, 70, 42, 1);
  --dark-on-secondary-container: rgba(240, 226, 187, 1);
  --dark-secondary-fixed: rgba(240, 226, 187, 1);
  --dark-on-secondary-fixed: rgba(34, 27, 4, 1);
  --dark-secondary-fixed-dim: rgba(211, 198, 161, 1);
  --dark-on-secondary-fixed-variant: rgba(79, 70, 42, 1);
  --dark-tertiary: rgba(255, 181, 161, 1);
  --dark-on-tertiary: rgba(96, 20, 0, 1);
  --dark-tertiary-container: rgba(136, 32, 0, 1);
  --dark-on-tertiary-container: rgba(255, 219, 209, 1);
  --dark-tertiary-fixed: rgba(255, 219, 209, 1);
  --dark-on-tertiary-fixed: rgba(59, 9, 0, 1);
  --dark-tertiary-fixed-dim: rgba(255, 181, 161, 1);
  --dark-on-tertiary-fixed-variant: rgba(136, 32, 0, 1);
  --dark-error: rgba(255, 180, 171, 1);
  --dark-on-error: rgba(105, 0, 5, 1);
  --dark-error-container: rgba(147, 0, 10, 1);
  --dark-on-error-container: rgba(255, 218, 214, 1);
  --dark-outline: rgba(151, 144, 128, 1);
  --dark-background: rgba(29, 27, 22, 1);
  --dark-on-background: rgba(231, 226, 217, 1);
  --dark-surface: rgba(21, 19, 14, 1);
  --dark-on-surface: rgba(203, 198, 189, 1);
  --dark-surface-variant: rgba(76, 70, 57, 1);
  --dark-on-surface-variant: rgba(206, 198, 180, 1);
  --dark-inverse-surface: rgba(231, 226, 217, 1);
  --dark-inverse-on-surface: rgba(29, 27, 22, 1);
  --dark-inverse-primary: rgba(114, 92, 0, 1);
  --dark-shadow: rgba(0, 0, 0, 1);
  --dark-surface-tint: rgba(231, 196, 70, 1);
  --dark-outline-variant: rgba(76, 70, 57, 1);
  --dark-scrim: rgba(0, 0, 0, 1);
  --dark-surface-container-highest: rgba(55, 53, 47, 1);
  --dark-surface-container-high: rgba(44, 42, 36, 1);
  --dark-surface-container: rgba(33, 31, 26, 1);
  --dark-surface-container-low: rgba(29, 27, 22, 1);
  --dark-surface-container-lowest: rgba(16, 14, 9, 1);
  --dark-surface-bright: rgba(59, 57, 51, 1);
  --dark-surface-dim: rgba(21, 19, 14, 1);
  /* Text-size styles */
  /* base size: material-theme--body--large (16px) */
  --desktop-display: 5rem;
  --big-title: 14.06rem;
  --material-theme--display--large: 3.56rem;
  --material-theme--display--medium: 2.81rem;
  --material-theme--display--small: 2.25rem;
  --material-theme--headline--large: 2rem;
  --material-theme--headline--medium: 1.75rem;
  --material-theme--headline--small: 1.5rem;
  --material-theme--title--large: 1.38rem;
  --material-theme--title--medium: 1rem;
  --material-theme--title--small: 0.88rem;
  --material-theme--body--large: 1rem;
  --material-theme--body--medium: 0.88rem;
  --material-theme--body--small: 0.75rem;
  --material-theme--label--large: 0.88rem;
  --material-theme--label--medium: 0.75rem;
  --material-theme--label--small: 0.69rem;

  --desktop-display: 5rem;
  --big-title: 14.06rem;
  --display--large: 3.56rem;
  --display--medium: 2.81rem;
  --display--small: 2.25rem;
  --headline--large: 2rem;
  --headline--medium: 1.75rem;
  --headline--small: 1.5rem;
  --title--large: 1.38rem;
  --title--medium: 1rem;
  --title--small: 0.88rem;
  --body--large: 1rem;
  --body--medium: 0.88rem;
  --body--small: 0.75rem;
  --label--large: 0.88rem;
  --label--medium: 0.75rem;
  --label--small: 0.69rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--light-surface-variant, #ebe2cf);
}
.row-max {
  max-width: 1376px;
  margin: 0 auto;
}
@media (max-width: 1376px) {
  .row-max {
    margin: 0 24px;
  }
}
@media (max-width: 1024px) {
  .row-max {
    margin: 0 8px;
  }
}
.fixed-filter {
  position: fixed !important;
  top: 40px;
  width: 100%;
}

/* loading ui  */
/* skeleton  */
@keyframes pulse {
  0% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }
}

.skeleton {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
  animation-fill-mode: none;
}

/* dark Skeleton  */
@keyframes darkPulse {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.dark-skeleton {
  animation: darkPulse 1s linear infinite alternate;
}

/* overlays  */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000 0%,
    rgba(0, 0, 0, 0.33) 59.9%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 10;
}
